* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.topbar {
    padding: 20px;
    display: flex;
    justify-content: end;
}

.topbar .ele,
.menu .current,
.menu i {
    padding: 10px;
    margin: 0px 20px;
    font-size: 1.5rem;
    text-decoration: none;
}

.topbar .ele.active,
.menu .current {
    color: rgb(234, 0, 255);
}

.menu {
    padding: 20px;
    display: flex;
}

.menu .current {
    flex-grow: 1;
}

.menu {
    padding: 0px;
    height: 0px;
    overflow: hidden;
}

.member-table {
    margin: 20px;
}

.pr.title {
    font-size: 6rem;
    font-weight: bold;
    margin-top: 110px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.pr.desc {
    margin: 50px 0px;
    margin-left: 60px;
    font-size: 1.5rem;
}

.more {
    width: fit-content;
    margin-left: 60px;
    background: rgb(234, 0, 255);
    color: white;
    font-weight: 600;
    border-radius: 20px;
    padding: 14px 24px;
}

.contact,
.contact .c-row {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact .c-row {
    flex-direction: row;
}

.contact .member {
    margin: 50px;
    font-size: 1.2rem;
    text-align: center;
}

.contact .member div {
    margin: 7px;
}

.contact .member .name {
    font-weight: 800;
}

@media only screen and (max-width: 700px) {
    .topbar {
        flex-direction: column;
        align-items: center;
    }
    .menu {
        padding: 30px;
        height: auto;
    }
    .topbar.hide {
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    .member-table {
        margin: 5px;
    }
    .pr.title {
        font-size: 3rem;
    }
    .contact .c-row {
        flex-direction: column;
    }
}